/* GENERICS SETS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}


/* HEADER */
.header {
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: #ff6900;
    display: flex;
    justify-content: center;
  }

.header-container {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 72%;
  }

 .header-left {
  width: 200px;
  font-weight: 600;
  word-spacing: 10px;

  }
 
.header-center {
    height: 30px
     
  }

.header-right {
  text-align: right;
  width: 200px;
  word-spacing: 6px;
  }


  /* MAIN */
.main-contener {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 2000px;
  background-color: aquamarine;

}

.container-card {
  width: 1420px;
  height: 1500px;
  background-color: blueviolet;
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 45px;
}

.card {
  width: calc(100% / 3 - 40px);
  height: 635px;
  background-color: brown;
  margin: 20px 20px;
}

span#old-price{
text-decoration: line-through;
color: black;
}

.card p:nth-child(2) {
font-size: 12px;
}

.card p:nth-child(3) {
  font-weight: bolder;
}

.card p:nth-child(4) {
  font-size: small;
  font-weight: bold;
  color: red;
}

.first-img {
  width: 100%;
  height: 100%;
}


/* FOOTER */
.footer-info {

}

.info {

}

.social {

}